<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tcvim" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0" >
    <name>TcvIM</name>


    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>

    <js-module name="FirstToast" src="www/TcvIM.js">
        <clobbers target="FirstToast"/>
    </js-module>

    <platform name="android">
        <source-file src="src/android/FirstToast.java"
                     target-dir="src/com/first/toast"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirstToast">
                <param name="android-package" value="com.first.toast.FirstToast"/>
            </feature>
        </config-file>
    </platform>
</plugin>
