<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tcvim" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>TcvIM</name>


    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>

    <js-module name="FirstToast" src="www/TcvIM.js">
        <clobbers target="FirstToast" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/FirstToast.java" target-dir="src/com/first/toast" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FirstToast">
                <param name="android-package" value="com.first.toast.FirstToast" />
            </feature>
        </config-file>

        <lib-file src="src/android/libs/arm64-v8a/libne_audio.so" />
        <lib-file src="src/android/libs/arm64-v8a/libnrtc_mp4v2.so" />
        <lib-file src="src/android/libs/arm64-v8a/libnrtc_sdk.so" />
        <lib-file src="src/android/libs/arm64-v8a/librts_network.so" />


        <lib-file src="src/android/libs/armeabi-v7a/libne_audio.so" />
        <lib-file src="src/android/libs/armeabi-v7a/libnrtc_mp4v2.so" />
        <lib-file src="src/android/libs/armeabi-v7a/libnrtc_sdk.so" />
        <lib-file src="src/android/libs/armeabi-v7a/librts_network.so" />


        <lib-file src="src/android/libs/x86/libne_audio.so" />
        <lib-file src="src/android/libs/x86/libnrtc_mp4v2.so" />
        <lib-file src="src/android/libs/x86/libnrtc_sdk.so" />
        <lib-file src="src/android/libs/x86/librts_network.so" />


        <lib-file src="src/android/libs/x86_64/libne_audio.so" />
        <lib-file src="src/android/libs/x86_64/libnrtc_mp4v2.so" />
        <lib-file src="src/android/libs/x86_64/libnrtc_sdk.so" />
        <lib-file src="src/android/libs/x86_64/librts_network.so" />

        <lib-file src="src/android/libs/nim-avchat-7.1.0.jar" />
        <lib-file src="src/android/libs/nim-avsignalling-7.1.0.jar" />
        <lib-file src="src/android/libs/nim-basesdk-7.1.0.jar" />
        <lib-file src="src/android/libs/nim-chatroom-7.1.0.jar" />
        <lib-file src="src/android/libs/nim-lucene-7.1.0.jar" />
        <lib-file src="src/android/libs/nim-push-7.1.0.jar" />
        <lib-file src="src/android/libs/nim-rts-7.1.0.jar" />
        <lib-file src="src/android/libs/nim-superteam-7.1.0.jar" />
        <lib-file src="src/android/libs/nrtc-sdk.jar" />


        <framework custom="true" src="build-extras.gradle" type="gradleReference" />

    </platform>


</plugin>
